.tituloCarousel, .tituloCarouselH2{
  color: #959595;
}

.containerLivro, .containerOferta, .containerDestaque{
  display: inline;
}

.container{
  margin-top: 50px;
  position: relative;
}


.carouselWrapper {
  height: 1000px; /* Defina a largura desejada para o carrossel */
  margin: 0 auto; /* Centraliza o carrossel horizontalmente */
}
.containerLivro{
  margin-top: 20px;
}

.linhaHorizontal {
  width: 100%;
  border: 0.05px outset #cccccc3e;
  margin: 1em 0;
}


.carousel-wrapper {
    max-width: 1750px;
    margin: 10vh auto;
    position: relative;
    margin-top: 95px;
    z-index: 2;
  }
  
  .slick-slide img {
    height: auto;
    max-width: 100%;
  }


  .slick-prev-alt,
  .slick-next-alt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
  }

  .slick-dots li button:before,
  .slick-dots li.slick-active button:before {
    color: #747474;

}
  .slick-prev::before,
  .slick-next::before {
    color:#ccc;
  }

  .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

} 
  
  .slick-prev-alt {
    left: -60px;
  }
  
  .slick-next-alt {
    right: -60px;
  }

  @media only screen and (min-width: 320px) and (max-width: 576px) {

    .container{

    }
    .carousel-wrapper {
       /* height: 200px; Ajuste a altura desejada para o carrossel em dispositivos móveis */
      margin: 0;
      margin-top: 250px;
 /* Ajuste o espaçamento superior desejado */
    }
    
    .slick-slide img {
      height: auto;
      max-width: 100%;
    }
  
    .slick-prev-alt,
    .slick-next-alt {
      display: none; /* Oculta os botões de navegação */
    }

    .tituloCarousel h2{
      text-align: center;
    }
  }
  