.containerCadastroLivro {
  margin-top: 150px;
  justify-content: space-between;
  width: 100%;
}

.tituloCadastroLivro {
  color: #959595;
}

.linhaHorizontalCadastro {
  width: 100%;
  border: 0.05px outset rgba(144, 202, 252, 0.26);
  margin-top: 1em;
}


.buttonExpandir,
.buttonCadastrar {
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 2em;
  width: 15em;
  background: #146b97b2;
  margin-top: 20px;
  border: none;
  border-radius: 7px;
  justify-content: center;
  cursor: pointer;
}

.buttonExpandir:hover,
.buttonCadastrar:hover {
  background-color: #146b97;
  color: white;
}

.labelCadastro {
  color: #146b97;
  font-weight: bold;
}

.tipoLivro{
  color: #146b97;
  font-weight: bold;
  margin-bottom: 1em;
}


.textArea {
  width: 100%;
  background: aliceblue;
  border: none;
  box-sizing: border-box;
  padding: 5px;
  height: 10em; /* ajuste a altura conforme necessário */
  resize: vertical; /* permitir redimensionamento vertical */
}

.textArea:focus {
  outline: none;
}

.containerSmall,
.containerLong,
.containerTtipoLivro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputSinopseCadastrar,
.inputImagemCadastrar,
.inputCadastrar {
  margin: 0.4em 0;
  width: 100%;
  height: 2.5em;
  padding: 5px;
  padding-left: 10px;
  border: none;
  border-radius: 7px;
  box-sizing: border-box;
  color: #033579;
  background: aliceblue;
}

.inputCadastrar {
  width: 550px;
}

.inputSinopseCadastrar::-webkit-scrollbar,
.inputImagemCadastrar::-webkit-scrollbar,
.inputCadastrar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.inputSinopseCadastrar:focus,
.inputImagemCadastrar:focus,
.inputCadastrar:focus {
  outline: none;
}

.inputAdmSinopse {
  height: 20em;
  text-align: justify;
}

.inputAdmImagem {
  height: 5.5em;
  text-align: justify;
}

.inputCadastrar [type="checkbox"] {
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #146b97;
  background-color: #146b97;
  border-radius: 4px;
  margin: 6px 4px 0 4px;
}

.inputCadastrar[type="checkbox"]:checked {

  border: 2px solid #146b97;
  background-color: #146b97;
  border-radius: 4px;

}

.inputCadastrar label {
  font-size: 1em;
  text-align: center;
  color: #146b97;
  font-weight: bolder;
}



@media only screen and (min-width: 320px) and (max-width: 576px) {
  .inputSinopseCadastrar,
  .inputImagemCadastrar,
  .inputCadastrar,
  .buttonExpandir,
  .buttonCadastrar {
    width: 100%;
  }
  
  .buttonCadastrar {
    width: 100%;
  }
  
  .inputCadastrar {
    max-width: 400px;
  }
}
